<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Title page in navigation bar -->
    <title>{% block title %} {% endblock %} - MotifScope</title>

</head>
<body>
    <!-- Navigation bar -->
    <nav>
        <a href="{{ url_for('index') }}">Motifscope</a>
        <a href="{{ url_for('download') }}">Download</a>
        <a href="{{ url_for('index') }}">How it works</a>
      </nav>
    
    <!-- Page content -->
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    
    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>