{% extends 'base.html' %}

{% block content %}
    <body id="annotation_sec">
        <!-- DNA image at the top -->
        <div class="centered-container">
            <img class="centered-image" src="{{ url_for('static', filename='images/dna.png') }}" alt="Image">
        </div>

        <!-- Title at the top -->
        <div class="centered-container" style="margin-top: 30px";>
            <img class="centered-image" src="{{ url_for('static', filename='images/motifscope.logo.png') }}" alt="MotifScope Logo" style="max-width: 300px; height: auto;">
        </div>

        <h3>Annotate your tandem repeats in 3 simple steps</h3>
        
        <!-- Subtitle below the title -->
        <div style="display:flex;">
            <div style="padding: 10px; background-color: #9FD8C6; margin: 20px; width: 30%;">
                <h2>1</h2>
                <h3>Paste your sequences in the text area (FASTA format), or upload your FASTA file.</h3>
            </div>
            <div style="padding: 10px; background-color: #E0E5F0; margin: 20px; width: 30%;">
                <h2>2</h2>
                <h3>Change MotifScope parameters or leave them as default</h3>
            </div>
            <div style="padding: 10px; background-color: #EAE7D1; margin: 20px; width: 30%;">
                <h2>3</h2>
                <h3>Add your email so that we can reach you when your results are ready. Then submit!</h3>
            </div>
        </div>
        
        <form id="annotationForm" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div style="display:flex;">
                <!-- Textarea for the input fasta -->
                <div style="padding: 10px; background-color: #9FD8C6; margin: 20px; width: 30%;">
                    <h4>Paste your sequences</h4>
                    <textarea name="fasta_text" placeholder="Paste sequences of interest in FASTA format. Please paste up to 1500 sequences, otherwise the program will not run.&#10;&#13;&#10;&#13;" rows="5" cols="40" style="font-size: 16px;">{{ request.form.get('fasta_text', '') }}</textarea>
                    <h4>Or, upload your FASTA file</h4>
                    <input type="file" name="fasta_file" accept=".fasta,.fa,.FA,.FASTA,.txt" style="margin-top: 10px;">
                    <p>Example FASTA file: <a href="{{ url_for('static', filename='example.fa') }}" download>example.fa</a></p>
                </div> 
        
                <!-- Next column: parametes -->
                <div style="padding: 10px; background-color: #E0E5F0; margin: 20px; width: 30%;">
                    <h4>Motifscope Parameters</h4>
                    
                    <!-- First parameter -->
                    <label for="sequence_type">Cluster sequences:</label>
                    <select id="cluster" name="cluster">
                        <option value="True">yes</option>
                        <option value="False">no</option>
                    </select>
                    <br>

                    <label for="msa">Multiple sequence alignment:</label>
                    <select id="msa" name="msa">
                        <option value="Levenshtein">None</option>
                        <option value="POANucleotide">On motifs</option>
                        <option value="POAMotif">On nucleotides</option>
                    </select>
                    <br>

                    <label for="class_file">Upload TSV file containing sample class information (optional, <a href="{{ url_for('static', filename='example.sample.tsv') }}" download>example.sample.tsv</a>):</label>
                    <input type="file" name="class_file" id="class_file" accept=".tsv,.txt">
                    <br>


                    <label for="min_k">Minimum length of motif to characterize:</label>
                        <input type="number" name="min_k" id="min_k" min="1" value="2" max="32" placeholder="Enter a number">
                    <br>

                    <label for="max_k">Maximum length of motif to characterize:</label>
                        <input type="number" name="max_k" id="max_k" min="1" value="10" max="32" placeholder="Enter a number">
                    <br>
                    
					<label for="motif_input">Upload file containing tab-separated known motifs (optional, <a href="{{ url_for('static', filename='example.motifs.tsv') }}" download>example.motifs.tsv</a>):</label>
					<input type="file" name="motif_input" id="motif_input" accept=".tsv,.txt">
	               
	               	<br>
	                <label for="reverse">Convert FASTA input to reverse complement strand:</label>
                    <select id="reverse" name="reverse">
                        <option value="False">no</option>
                        <option value="True">yes</option>
                    </select>
                    <br>
				

                    <label for="figure">Generate figure:</label>
                    <select id="figure" name="figure" onchange="toggleFigure()">
                        <option value="True">yes</option>
                        <option value="False">no</option>
                    </select>
                    <br>

                    <div id="figure_format">
                        <label for="format">Figure format:</label>
                        <select  name="format" id="format">
                            <option value="pdf">PDF</option>
                            <option value="png">PNG</option>
                        </select>
                    </div>

                    <br>
                    
                </div>

                <!-- Next column: email and submit button -- no login option -->
                <div style="padding: 10px; background-color: #EAE7D1; margin: 20px; width: 30%;">
                    <h4>Email</h4>
                    <small>Please enter your email address below. The results will be sent to you:</small>
                    <textarea name="email" style="width: 100%; height: 30px; font-size: 16px;" placeholder="Enter your email here" autocomplete="on"></textarea>
                    <br>
                    <br>
                    <!-- Button to run analysis -->
                    <div style="padding: 10px; background-color: #EAE7D1; margin: 20px; text-align: center">
                        <input type="submit" value="Submit your job!" onclick="showMessage()" style="font-size: 32px; padding: 20px 20px; width: auto; height: auto;">
                        <p style="color: {{ 'red' if messageSubmission == 'Email is not correct. Please check!' else 'green' }}">{{ messageSubmission }}</p>
                    </div>
                </div>

                <!-- Javascript to check form was properly completed -->
                <script>
                    function validateFASTAHeaders(classFile, fastaContent) {
                        // Split the content into lines
                        var lines = fastaContent.split("\n");
						var nseq = 0;
						var seqlen = 0;
                        for (var i = 0; i < lines.length; i++) {
                        
                            var line = lines[i].trim();

                            // Only check lines that start with '>' (FASTA headers)
                            if (line.startsWith(">")) {
                            	nseq += 1;
                            	seqlen = 0;
                            	// count number of # in the header, should be at least 1
                            	var nhash = (line.match(/#/g) || []).length;
                            	if (classFile.length > 0 && nhash < 1) {
									alert("Invalid FASTA header format for the selected sequence type. See 'How it works'");
									return false;  // Invalid assembly header
								}
                            }
                            else {
								seqlen += line.length;
								if (seqlen > 15000) {
									alert("Sequence length exceeds 15000 bp. Please enter sequences with length up to 15000 bp.");
									return false;  // Sequence length exceeds 15000 bp
								}
							}
                        }

                        if (nseq > 1500) {
                        	alert("More than 1500 sequences. Please enter up to 1500 sequences.");
							return false;  // More than 1500 sequences
						}


                        return true;  // All headers are valid
                    }

                    function validateForm() {
                        var fastaText = document.getElementsByName("fasta_text")[0].value;
                        var fileInput = document.getElementsByName("fasta_file")[0].files;
                        var min_k = document.getElementById('min_k').value;
                        var max_k = document.getElementById('max_k').value;
                        var classFile = document.getElementById("class_file").files;
                        var motifInput = document.getElementById("motif_input").files;
                        // Convert the values to numbers
                        min_k = parseInt(min_k);
                        max_k = parseInt(max_k);

                        // Check if either the textarea is not empty or a file is selected
                        if (fastaText.trim() === "" && fileInput.length === 0) {
                            alert("Please enter the sequences to annotate or upload a FASTA file.");
                            return false;  // Prevent form submission
                        }
                        
                        // Now, proceed to the next check for the FASTA headers (AFTER the original check)
                        
                        // Validate pasted sequences in the textarea
                        if (fastaText.trim() !== "") {
                            if (!validateFASTAHeaders(classFile, fastaText)) {
                                return false;  // Prevent form submission
                            }
                        } 
                        // Validate uploaded file (if a file is uploaded)
                        else if (fileInput.length > 0) {
                            var file = fileInput[0];
                            var reader = new FileReader();
                            reader.onload = function(event) {
                                var fastaContent = event.target.result;
                                if (!validateFASTAHeaders(classFile, fastaContent)) {
                                    return false;  // Prevent form submission
                                }
                            };
                            // Synchronous read
                            reader.readAsText(file);
                        }

                        // Else, check if max_k is less than min_k
                        else if (max_k < min_k) {
                            alert("Error: Maximum length of motif must be greater than or equal to minimum length.");
                            return false;  // Prevent form submission
                        }
                        
                        // If all checks pass, allow form submission
                        return true;
                    }

                    function toggleFigure() {
                        var figureGeneration = document.getElementById('figure').value;
                        var figureFormat = document.getElementById('figure_format');
                
                        // If 'assembly' is selected, show the TSV upload input
                        if (figureGeneration === 'True') {
                            figureFormat.style.display = 'block';
                        } else {
                            // Hide the TSV upload input for other sequence types
                            figureFormat.style.display = 'none';
                        }
                    }
                
                </script>               
            </div>
        </form>

        <!-- Footnote images -->
        <div class="image-container-foot">
            <img src="{{ url_for('static', filename='images/amstUMC.jpg') }}" alt="ams">
            <img src="{{ url_for('static', filename='images/github.png') }}" alt="gith">
        </div>
    </body>
{% endblock %}
